/* @import url('https://webfontworld.github.io/seoulnamsan/SeoulNamsan.css'); */

/* 폰트 */
.font_small {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  text-align: center;
}

/* 전체 컨테이너 */
.whole_container {
  border: solid 1px;
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow: auto;
  scrollbar-width: none;
  font-family: 'cafe';
  margin: 0;
}

/* header */
.head_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px 0px 8px;
}

.head_title {
  font-size: 37px;
  font-family: 'cafe';
  margin: 0;
}

.head_back {
  width: 60px;
  height: 60px;
  border-radius: 70%;
}

.head_menu_img {
  width: 40px;
  height: 40px;
}

.container {
  display: grid;
  padding: 0;
  font-family: 'SeoulNamsan';
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: white;
}

/* body */

.filter_img {
  height: 25px;
}

.review_head {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 리뷰 리스트 */
*/ .veri_img {
  width: 300px;
  height: 550px;
}

/* .review_head {
  font-size: 20px;
} */

.review_body {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* modal */

.modal_container {
  padding: 10px;
  border: double 5px;
  width: 100%;
}

.modal_img {
  border-radius: 3px;
  width: 100%;
  height: 250px;
  margin-top: 15px;
}

.modal_title {
  font-size: 25px;
  margin: 5px;
}

.modal_writer {
  font-size: 16px;
  margin: 5px;
  text-align: left;
}

.modal_content {
  margin-top: 15px;
  padding: 10%;
  border: 3px double;
  border-radius: 10%;
  font-family: 'nanum';
  font-size: 25px;
  font-weight: bold;
}

.modal_progress {
  margin: 5px;
}

.modal_vote {
  width: 70;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
