/* 메인페이지 css */
.whole_container {
  border: solid 1px;
  height: 640px;
  width: 360px;
  overflow: auto;
  scrollbar-width: none;
  font-family: 'cafe';
}

/* header */
.nav_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px 0px 8px;
}

.nav_title {
  font-size: 45px;
  font-family: 'cafe';
}

.nav_back {
  width: 60px;
  height: 60px;
  border-radius: 70%;
}

.nav_btn_img {
  width: 40px;
  height: 40px;
}

/* body */

.factor {
  text-align: left;
}

.input_box {
  width: 100%;
  border: 3px double;
  overflow: auto;
}

.input_button {
  width: 25%;
  padding: 5px;
  border: 5px double;
  border-radius: 5px;
}

.add_img_button {
  width: 50px;
  height: 50px;
}
