.font_cafe {
  font-family: 'cafe';
}

@font-face {
  font-family: 'cute';
  src: url('../../assets/font/cute.ttf');
}

h3 {
  text-align: left;
  margin: 5px 5px;
}

h5 {
  margin: 5px 0;
}

.container {
  font-family: 'cafe';
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.nav_back {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  margin-top: 5px;
}

.nav_title {
  font-size: 45px;
  font-family: 'cafe';
  margin-bottom: 0;
}

.nav_btn_img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

/* 메인 */
.main_container {
  font-family: 'cafe';
  display: grid;
  grid-column: 1/2;
  grid-template-rows: 50px 0.3fr 0.1fr 0.3fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.main_row1 {
  font-family: 'cute';
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px 0;
}

.main_row2 {
  width: 100%;
  height: 100%;
  font-size: 30px;
  align-items: center;
  padding: 5px 0;
}

.main_row3 {
  background: #2193b0; /* fallback for old browsers */
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main_row4 {
  border-bottom: thick double;
  display: grid;
  align-items: center;
}

.main_row5 {
  border-bottom: thick double;
  font-family: 'cafe';
}

.main_row6 {
  border-bottom: thick double;
}

.place_container {
  display: grid;
  height: 100%;
  align-items: center;
}

.sub {
  display: grid;
}

.sub_container1 {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sub_col1 {
  display: grid;
}

.sub_col2 {
  display: grid;
}

.review_img {
  max-width: 100%;
}

.review_title {
  text-align: left;
}
