/* 기본 */
@import url('https://webfontworld.github.io/seoulnamsan/SeoulNamsan.css');

/* 로고 */
@font-face {
  font-family: 'cute';
  src: url('./assets/font/cute.ttf');
}

/* 메인 */
@font-face {
  font-family: 'nanum';
  src: url('./assets/font/nanum.ttf');
}

/* 메인 */
@font-face {
  font-family: 'cafe';
  src: url('./assets/font/cafe.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SeoulNamsan';
}

.App {
  margin: auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
