@import url('https://webfontworld.github.io/seoulnamsan/SeoulNamsan.css');


@font-face {
    font-family: "cute";
    src: url(../../static/font/cute.ttf);
}


h3 {
    text-align: left;
    margin: 5px 5px;
}

h5 {
    margin: 5px 0;
}

.container {
    display: grid;
    padding: 0;
    font-family: 'SeoulNamsan';
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: white;
}

/* 메인 */
.main_container {
    display: grid;
    grid-column: 1/2;
    grid-template-rows: 50px 0.3fr 0.1fr 0.3fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.main_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.main_row2 {
    border: 1px solid;
    width: 100%;
    height: 100%;
    font-size: 30px;
    align-items: center;
    padding: 5px 0;
}

.main_row3 {
    border: 1px solid;
    background-color: deepskyblue;
}

.main_row4 {
    border: 1px solid;
    display: grid;
    align-items: center;
}

.main_row5 {
    border: 1px solid;
}

.main_row6 {
    border: 1px solid;
}

.place_container {
    display: grid;
    height: 100%;
    align-items: center;
}

.sub {
    display: grid;
}

.sub_container1 {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub_col1 {
    display: grid;

}

.sub_col2 {
    display: grid;
}

.review_img {
    max-width: 100%;
}

.review_title {
    text-align: left;
}