.container {
    display: grid;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* 메인 */
.main_container {
    display: grid;
    grid-column: 1/2;
    grid-template-rows: 50px 5fr 4fr 4fr;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.main_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.main_row2 {
    border: 1px solid;
    width: 100%;
    height: 100%;
}

.map {}

.main_row3 {
    border: 1px solid;
}

.main_row4 {
    border: 1px solid;
}

/* 유저 */
.user_container {
    display: grid;
    grid-column: 2/3;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.user {
    display: grid;
    grid-template-rows: 50px 8fr 3fr 1fr 3fr;
    width: 100vw;
    height: 100vh;
}

/* 유저 -> 헤더 */
.user_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* 유저 -> 프로필 */
.user_row2 {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 5px 25px 5px 25px;
}

.user_name,
.user_level,
.user_address {
    font-size: 20px;
    font-weight: 600;
    color: rgb(81, 126, 222);
    min-height: fit-content;
}

.user_photo {
    width: 60%;
    max-height: 400px;
}

.user_level,
.user_address {
    padding-bottom: 10px;
}

.user_points {
    display: grid;
    border: 1px solid;
    width: 100%;
}

.user_subAddress {
    font-size: 18px;
}

/* 유저 -> 활동 */
.user_row3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 5px 25px 0px 25px;
}

.user_row3>button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-top: 1px solid lightgray;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    background: none;
    font-family: 'SeoulNamsan';
    font-size: 18px;
    font-weight: 550;
}

.user_row3>button:hover,
.user_row3>button>div:hover {
    background-color: rgb(201, 221, 252);
}

.user_row3>button>div:nth-child(2) {
    color: rgb(81, 126, 222);
}

.user_logout {
    border-top: none !important;
}

/* 유저 -> 설정 */
.user_setting {
    display: grid;
    grid-template-rows: 50px 5fr 5fr;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

/* 설정 -> 헤더 */
.user_setting_row1 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* 설정 -> 프로필 */
.user_setting_row2 {
    margin: 10px 25px;
}

/* 애니메이션 */
.user_after {
    transition: all 0.3s;
    transform: translateX(-100vw);
}

.user_before {
    transition: all 0.3s;
    transform: translateX(0vw);
}

.user_setting_after {
    transition: all 0.3s;
    transform: translateY(-100vh);
}

.user_setting_before {
    transition: all 0.3s;
    transform: translateY(0vw);
}